{
    "swagger": "2.0",
    "info": {
        "description": "This is an api to manage item categories.",
        "title": "Hendyla Categories Api",
        "termsOfService": "http://swagger.io/terms/",
        "contact": {
            "name": "Hendyla Team",
            "url": "http://www.swagger.io/support",
            "email": "hendyla@itti.digital"
        },
        "license": {
            "name": "Apache 2.0",
            "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
        },
        "version": "1.0"
    },
    "host": "hendyla.com",
    "basePath": "/api/v1",
    "paths": {
        "/api/v1/categories": {
            "post": {
                "description": "Creates a new category with the provided information.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "categories"
                ],
                "summary": "Create a new category",
                "parameters": [
                    {
                        "description": "Category to create",
                        "name": "category",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/rest.CreateCategoryRequest"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Created",
                        "schema": {
                            "$ref": "#/definitions/rest.CategoryApiResponse"
                        }
                    },
                    "400": {
                        "description": "Example: {\\\"code\\\": \\\"Bad Request\\\", \\\"message\\\": \\\"Invalid request body\\\"}",
                        "schema": {}
                    },
                    "500": {
                        "description": "Example: {\\\"code\\\": \\\"Internal Server Error\\\", \\\"message\\\": \\\"Invalid request body\\\"}",
                        "schema": {}
                    }
                }
            }
        }
    },
    "definitions": {
        "rest.CategoryApiResponse": {
            "type": "object",
            "properties": {
                "created_at": {
                    "description": "The creation timestamp\nexample: 2024-06-01T12:00:00Z",
                    "type": "string"
                },
                "description": {
                    "description": "The description of the category\nexample: Devices and gadgets",
                    "type": "string"
                },
                "id": {
                    "description": "The unique identifier of the category\nexample: 123e4567-e89b-12d3-a456-426614174000",
                    "type": "string"
                },
                "name": {
                    "description": "The name of the category\nexample: Electronics",
                    "type": "string"
                },
                "parent_id": {
                    "description": "The parent category ID\nexample: 987e6543-e21b-12d3-a456-426614174111",
                    "type": "string"
                },
                "status": {
                    "description": "The status of the category\nexample: active",
                    "type": "string"
                },
                "updated_at": {
                    "description": "The last update timestamp\nexample: 2024-06-02T15:30:00Z",
                    "type": "string"
                }
            }
        },
        "rest.CreateCategoryRequest": {
            "type": "object",
            "properties": {
                "description": {
                    "description": "Description of the category\nrequired: false",
                    "type": "string"
                },
                "name": {
                    "description": "Name of the category\nrequired: true",
                    "type": "string"
                },
                "parent_id": {
                    "description": "Parent category ID\nrequired: false",
                    "type": "string"
                }
            }
        }
    }
}